.container {
  background: rgb(1, 1, 61);
  position: sticky;
  top: 0;
}
.navbar {
  width: 85%;
  margin: 0 auto;
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-wrapper {
  display: flex;
  align-items: center;
}
.menu-wrapper a {
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-left: 2rem;
}
.menu-wrapper a:hover {
  color: rgb(35, 129, 218);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  margin-left: 0;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.login-btn {
  margin-left: 2rem;
}
.login-btn > a {
  margin-left: 0;
}
.login-btn > a:hover {
  color: #fff;
}
.login-btn:hover {
  background: blueviolet;
  color: #fff;
}
.icon > a:hover {
  color: rgb(182, 182, 182);
}
