.userDetail-wrapper {
  width: 40%;
  background: rgb(241, 241, 241);
  margin: 40px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
.userDetail-wrapper > h1 {
  text-align: center;
}
.userDetail-wrapper > div{
    display: flex;
    align-items: center;
}
.userDetail-wrapper h2{
  font-size: 22px;
  color: rgb(66, 66, 66);
}
.userDetail-wrapper p{
margin:3px 0 0 20px;
font-weight: 600;
font-size: 18px;
color: gray;
}
.userDetail-wrapper > div:last-child{
    justify-content: flex-end;
    gap: 20px;
    margin-top: 10px;
}
.delete{
    background: rgb(252, 58, 58);
}
.edit:hover, .delete:hover{
    box-shadow: 1px 1px 5px black;
}